.dropDownRow {
    cursor: pointer;
}

.dropDownRow:hover {
    background-color: aliceblue;
}

.dropDownRow > td:first-child::before {
    content: '▶';
    display: inline-block;
    margin-right: 5px;
}

.dropDownRow.open > td:first-child::before {
    content: '▼';
}

.dropDownContainer {
    padding: 0;
}

table, tr, td, th {
    border: black 1px solid;
    border-collapse: collapse;
}

table:not(.editTable) {
    width: 100%;
}

.editTable, .editTable tr, .editTable td, .editTable th {
    border: none;
}

td, th {
    padding: 5px;
}

.hidden {
    display: none;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: lightblue;
}

.navbar img, .navbar span {
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.navbar img {
    height: 30px;
    padding: 5px;
}

.navbar li {
    float: left;
}

.navbar li span:hover {
    text-decoration: underline;
}

.navbar .active {
    font-weight: bold;
}

main {
    margin: 75px 50px 50px 50px;
}