Fill in user and password and remove .template file extension
{
    "data_source" : {
        "type": "oci",
        "user": "USER",
        "password": "PASSWORD",
        "connection_string": "(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = orania2.inf.u-szeged.hu)(PORT = 1521))) (CONNECT_DATA = (SID = orania2)))",
        "encoding": "UTF-8",
        "tables": {
            "user": "MURICA_USER"
        }
    }
}