Fill in user and password and remove .template file extension
{
    "data_source" : {
        "type": "oci",
        "user": "USER",
        "password": "PASSWORD",
        "connection_string": "(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))) (CONNECT_DATA = (SID = orania2)))",
        "tables": {
            "user": "MURICA_USER"
        }
    },
    "host_name": "http://localhost",
    "base_uri": "/murica_api/"
}